body {
        background-color: #f1f1f1;
}

.headborder {
        border:0px solid #000;
        position: relative;
        width: 100%;
        height: auto;
        justify-content: center;
}
.headborder:after {
        content: "";
        position: absolute;
        margin-top: 12%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 1px;
        background-color: #000;
}

.Logga {
        position: relative;
        width: 8%;
        height: auto;
        margin-left: 45%;
        margin-top: 2.2%;
}

.imgsearch {
        position: absolute;
        left: 90%;
        margin-top: 5%;
        width: 2%;
        height: auto;
}

.imgmenu {
        position: absolute;
        left: 8%;
        margin-top: 5%;
        width: 2%;
        height: auto;

}

.meny {
        position: relative;
        margin-right: 2%;
        width: 100%;
        height: auto;
}

.meny3 {
        position: relative;
        margin-top: 8%;
        margin-left: 15.5%;
        width: 67%;
        height: auto;
}